<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2><a href="/addCompany">Add a company</a></h2>
<h2><a href="/addEmployee">Add an employee</a></h2>
<br>

<h1>Company List</h1>
<div th:each="company : ${companies}">
    <h2 th:text="${company.name}"></h2>
    <a th:href="@{/deleteCompany/{id}(id=${company.id})}">Delete</a>
    <ul>
        <th:block th:each="employee : ${company.employees}">
            <li th:inline="text">Name:[[${employee.name}]]</li>
            <li th:inline="text">Title:[[${employee.jobTitle}]]</li>
<!--            <li th:inline="text">Age:[[${employee.jobTitle}]]</li>    [[${employee.age}]].-->
            <div>
                <a th:href="@{/update/{id}(id=${employee.id})}">Update</a>
                <a th:href="@{/detail/{id}(id=${employee.id})}">Details</a>
                <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}">Delete</a>
            </div>
        </th:block>
    </ul>
</div>

<!--<div th:each="employee : ${employees}">-->
<!--<a th:href="@{/update/{id}(id=${employee.id})}">Update</a>-->
<!--<a th:href="@{/detail/{id}(id=${employee.id})}">Details</a>-->
<!--<a th:href="@{/delete/{id}(id=${employee.id})}">Delete</a>-->
<!--</div>-->
<!--<div th:each="team: ${teams}">-->
<!--<h4 th:text="${team.teamname}"></h4>-->
<!--<ul th:each="player: ${team.players}">-->
<!--    <li th:text="${player.name}"></li>-->
<!--</ul>-->

<!--</div>-->

</body>
</html>